# CS4661 (Intro to Data Science) - Shelter Animal Outcomes
# Author: Group #3
## Dataset: https://www.kaggle.com/c/shelter-animal-outcomes

In [1]:
"""
Preprocesses the shelter-animal-outcomes (sao) dataset

Parameters:

Returns:

"""

'\nPreprocesses the shelter-animal-outcomes (sao) dataset\n\nParameters:\n\nReturns:\n\n'

### Importing Libraries

In [2]:
import numpy as np
import pandas as pd

### Reading the sao dataset

In [3]:
df = pd.read_csv('../../data/train.csv') # stores the sao testing dataset 
df[:10] # displays first 10 rows

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
0,A671945,Hambone,2014-02-12 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White
1,A656520,Emily,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby
2,A686464,Pearce,2015-01-31 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White
3,A683430,NaN,2014-07-11 19:09:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Cream
4,A667013,NaN,2013-11-15 12:52:00,Transfer,Partner,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan
5,A677334,Elsa,2014-04-25 13:04:00,Transfer,Partner,Dog,Intact Female,1 month,Cairn Terrier/Chihuahua Shorthair,Black/Tan
6,A699218,Jimmy,2015-03-28 13:11:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Tabby
7,A701489,NaN,2015-04-30 17:02:00,Transfer,Partner,Cat,Unknown,3 weeks,Domestic Shorthair Mix,Brown Tabby
8,A671784,Lucy,2014-02-04 17:17:00,Adoption,NaN,Dog,Spayed Female,5 months,American Pit Bull Terrier Mix,Red/White
9,A677747,NaN,2014-05-03 07:48:00,Adoption,Offsite,Dog,Spayed Female,1 year,Cairn Terrier,White

In [4]:
feature_cols = list(df.columns) # stores each column name in a list
feature_cols # displays all column headers

['AnimalID',
 'Name',
 'DateTime',
 'OutcomeType',
 'OutcomeSubtype',
 'AnimalType',
 'SexuponOutcome',
 'AgeuponOutcome',
 'Breed',
 'Color']

In [5]:
colors = [c.replace(' ', '/') for c in list(df.Color)] # replace all spaces in Color with '/'
df.Color = colors

# pd.get_dummies(df["Color"])
# >>> Series(['a|b', 'a', 'a|c']).str.get_dummies()
df = pd.concat([df, df['Color'].str.get_dummies(sep='/')], axis=1)

df[:5]

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color,...,Smoke,Tabby,Tan,Tick,Tiger,Torbie,Tortie,Tricolor,White,Yellow
0,A671945,Hambone,2014-02-12 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White,...,0,0,0,0,0,0,0,0,1,0
1,A656520,Emily,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream/Tabby,...,0,1,0,0,0,0,0,0,0,0
2,A686464,Pearce,2015-01-31 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White,...,0,0,0,0,0,0,0,0,1,0
3,A683430,NaN,2014-07-11 19:09:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue/Cream,...,0,0,0,0,0,0,0,0,0,0
4,A667013,NaN,2013-11-15 12:52:00,Transfer,Partner,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan,...,0,0,1,0,0,0,0,0,0,0

In [7]:
# getting dummies for outcometypes to do a one hot encoder.

df = pd.concat([df, df['OutcomeType'].str.get_dummies()], axis=1)
df[:5]

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color,...,Torbie,Tortie,Tricolor,White,Yellow,Adoption,Died,Euthanasia,Return_to_owner,Transfer
0,A671945,Hambone,2014-02-12 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White,...,0,0,0,1,0,0,0,0,1,0
1,A656520,Emily,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream/Tabby,...,0,0,0,0,0,0,0,1,0,0
2,A686464,Pearce,2015-01-31 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White,...,0,0,0,1,0,1,0,0,0,0
3,A683430,NaN,2014-07-11 19:09:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue/Cream,...,0,0,0,0,0,0,0,0,0,1
4,A667013,NaN,2013-11-15 12:52:00,Transfer,Partner,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan,...,0,0,0,0,0,0,0,0,0,1

In [8]:
junk_cols = ['AnimalID', 'Name', 'DateTime', 'Color', 'OutcomeType'] # useless columns
df = df.drop(junk_cols, axis=1) # drop the junk cols from the dataset
df[:10] # displays first 10 rows of changed df

,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Agouti,Apricot,Black,Blue,Brindle,...,Torbie,Tortie,Tricolor,White,Yellow,Adoption,Died,Euthanasia,Return_to_owner,Transfer
0,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
1,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,0,0,0,1,0,...,0,0,0,1,0,1,0,0,0,0
3,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
4,Partner,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5,Partner,Dog,Intact Female,1 month,Cairn Terrier/Chihuahua Shorthair,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
6,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
7,Partner,Cat,Unknown,3 weeks,Domestic Shorthair Mix,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
8,NaN,Dog,Spayed Female,5 months,American Pit Bull Terrier Mix,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
9,Offsite,Dog,Spayed Female,1 year,Cairn Terrier,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0

In [10]:
unique_breeds = list(df.Breed.unique())
unique_breeds_mix = [x for x in unique_breeds if x.find("Mix") != -1]
unique_breeds_hybrid = [x for x in unique_breeds if x.find("/") != -1]

print("Count of unique breeds %s"%len(unique_breeds))
print("Count of unique breeds that are mixed %s"%len(unique_breeds_mix))
print("Count of unique breeds that are hybrid %s"%len(unique_breeds_hybrid))
print("Count of unique pure breeds %s"% (len(unique_breeds) - len(unique_breeds_mix) - len(unique_breeds_hybrid)))

Count of unique breeds 1380
Count of unique breeds that are mixed 213
Count of unique breeds that are hybrid 1029
Count of unique pure breeds 138