# CS4661 (Intro to Data Science) - Shelter Animal Outcomes
# Author: Group #3
## Dataset: https://www.kaggle.com/c/shelter-animal-outcomes

In [9]:
"""
Preprocesses the shelter-animal-outcomes (sao) dataset

Parameters:

Returns:

"""

'\nPreprocesses the shelter-animal-outcomes (sao) dataset\n\nParameters:\n\nReturns:\n\n'

### Importing Libraries

In [10]:
import numpy as np
import pandas as pd

### Reading the sao dataset

In [3]:
df = pd.read_csv('../../data/train.csv') # stores the sao testing dataset 
df[:10] # displays first 10 rows

,ID,Name,DateTime,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
0,1,Summer,2015-10-12 12:15:00,Dog,Intact Female,10 months,Labrador Retriever Mix,Red/White
1,2,Cheyenne,2014-07-26 17:59:00,Dog,Spayed Female,2 years,German Shepherd/Siberian Husky,Black/Tan
2,3,Gus,2016-01-13 12:20:00,Cat,Neutered Male,1 year,Domestic Shorthair Mix,Brown Tabby
3,4,Pongo,2013-12-28 18:12:00,Dog,Intact Male,4 months,Collie Smooth Mix,Tricolor
4,5,Skooter,2015-09-24 17:59:00,Dog,Neutered Male,2 years,Miniature Poodle Mix,White
5,6,Beau,2015-06-23 11:17:00,Dog,Neutered Male,3 years,Beagle Mix,Brown/White
6,7,Bobo,2014-03-12 09:45:00,Cat,Neutered Male,13 years,Domestic Medium Hair Mix,Brown Tabby/White
7,8,Abby,2014-06-25 08:27:00,Cat,Spayed Female,6 months,Domestic Shorthair Mix,Brown Tabby
8,9,Ruby Grace,2014-11-12 18:05:00,Dog,Spayed Female,3 months,Cairn Terrier,Black/Cream
9,10,Ruby,2014-04-07 17:41:00,Dog,Spayed Female,1 year,Pit Bull Mix,Brown/White

In [4]:
feature_cols = list(df.columns) # stores each column name in a list
feature_cols # displays all column headers

['ID',
 'Name',
 'DateTime',
 'AnimalType',
 'SexuponOutcome',
 'AgeuponOutcome',
 'Breed',
 'Color']

In [5]:
junk_cols = ['ID', 'Name', 'DateTime'] # useless columns
df = df.drop(junk_cols, axis=1) # drop the junk cols from the dataset
df[:10] # displays first 10 rows of changed df

,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
0,Dog,Intact Female,10 months,Labrador Retriever Mix,Red/White
1,Dog,Spayed Female,2 years,German Shepherd/Siberian Husky,Black/Tan
2,Cat,Neutered Male,1 year,Domestic Shorthair Mix,Brown Tabby
3,Dog,Intact Male,4 months,Collie Smooth Mix,Tricolor
4,Dog,Neutered Male,2 years,Miniature Poodle Mix,White
5,Dog,Neutered Male,3 years,Beagle Mix,Brown/White
6,Cat,Neutered Male,13 years,Domestic Medium Hair Mix,Brown Tabby/White
7,Cat,Spayed Female,6 months,Domestic Shorthair Mix,Brown Tabby
8,Dog,Spayed Female,3 months,Cairn Terrier,Black/Cream
9,Dog,Spayed Female,1 year,Pit Bull Mix,Brown/White

In [6]:
colors = [c.replace(' ', '/') for c in list(df.Color)] # replace all spaces in Color with '/'
colors[:5] # displays first 5 rows of colors

[['Red', 'White'],
 ['Black', 'Tan'],
 ['Brown', 'Tabby'],
 ['Tricolor'],
 ['White']]